#orange-brand {
    color: #cc5500;
}

#main-brand {
    font-family: 'Mr Dafoe';
    font-size: 1.75rem;
}

.carousel-item {
    height: 95vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
div .carousel-item {
    font-family: "Abel"
}

.display-4 {
    text-shadow: 1px 1px 2px #cc5500,
    0 0 1em black,
    0 0 0.2em black;
}

p .lead {
    text-shadow: 1px 1px 2px black;
}