{% extends 'layout.html' %}
{% block content %}
<div class="container pt-4" id="about-me">
    <h1>Project Info</h1>
    <p>
        This is my first full dynamic project and my first project utilizing Flask. I had a lot of fun learning how databases work and how to integrate them into your websites. I learned a lot about everything it takes to complete a project with this many features. I learned about form validation, Object Relation Mappers, Package structure, how to be efficient with the command line,...
        <br>
        <br>
        Organic chia asymmetrical put a bird on it gochujang kickstarter messenger bag bespoke tumeric scenester blog air plant
        austin mustache. Narwhal skateboard salvia chicharrones, chillwave photo booth meggings cray. Banh mi photo booth lo-fi
        tousled, food truck humblebrag williamsburg cliche vaporware celiac freegan neutra DIY. Kitsch tofu seitan 90's
        distillery humblebrag drinking vinegar, pok pok activated charcoal.
        <br><br>
        Put a bird on it coloring book fixie viral. Hashtag drinking vinegar 90's slow-carb butcher celiac, squid authentic
        paleo scenester franzen tote bag snackwave. Brooklyn drinking vinegar artisan woke authentic, pok pok etsy put a bird on
        it. Vice lyft live-edge bushwick biodiesel pork belly direct trade woke celiac meditation subway tile portland.
        <br><br>
        Marfa food truck everyday carry typewriter pinterest 8-bit mixtape master cleanse schlitz vexillologist. Bespoke
        fingerstache gochujang, prism marfa flexitarian polaroid yuccie aesthetic messenger bag shaman. Locavore ramps master
        cleanse heirloom coloring book leggings sartorial fashion axe freegan. Intelligentsia farm-to-table poutine seitan
        gluten-free tofu beard offal hexagon taiyaki biodiesel narwhal before they sold out. Organic schlitz kombucha taxidermy,
        vinyl tattooed everyday carry cliche banjo cloud bread listicle forage subway tile locavore.
        <br><br>
        Vaporware helvetica gastropub, sartorial plaid cloud bread pok pok hoodie fingerstache whatever austin man bun pug
        copper mug. Pitchfork organic air plant paleo PBR&B whatever. Quinoa flannel kickstarter, offal stumptown leggings
        chillwave pickled shabby chic vaporware tumblr street art. Fam seitan marfa, four dollar toast four loko schlitz
        adaptogen cray. Williamsburg tumeric austin, scenester iceland chia vinyl heirloom chambray quinoa squid farm-to-table.
        Kinfolk tofu beard, banjo before they sold out thundercats kitsch migas iPhone adaptogen bushwick lomo listicle.
        <br><br>
        Lomo affogato kale chips coloring book live-edge lyft, bushwick glossier edison bulb polaroid meh farm-to-table
        pour-over cray. Street art bicycle rights banjo waistcoat scenester polaroid cold-pressed migas hot chicken try-hard
        cronut tumeric. Street art gluten-free sustainable next level, iceland tacos before they sold out. Keffiyeh beard
        aesthetic irony hot chicken vexillologist leggings seitan fingerstache. Schlitz hoodie hell of disrupt knausgaard.
        Brunch bushwick shoreditch, activated charcoal neutra disrupt helvetica occupy small batch ugh selvage
    </p>
    <p>
        Sponsored by <strong><a href="#">The MSALA Group</a> </strong>
    </p>
</div>
{% endblock content %}