{% extends 'layout.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"  id ="main-brand" href="#">Feels <span id="orange-brand">Tasty </span>Man</a>
    <ul class="nav justify-content-end">
        <li class="nav-item"><a href="{{url_for('login')}}" class="nav-link active">Login </a></li>
        <li class="nav-item"><a href="{{url_for('register')}}" class="nav-link active">Register </a></li>
        <li class="nav-item"><a href="http://github.com/AdamAlam" class="nav-link active">View The Code </a></li>
        <li class="nav-item"><a href="#" class="nav-link active">About Me </a></li>
    </ul>
</nav>
{% endblock content %}