{% extends 'layout.html' %}
{% block content %}
<div class="container pt-4" id="about-me">
    <h1>Project Info</h1>
    <p>
        This is my first full dynamic project and my first project utilizing Flask. I had a lot of fun learning how databases work and how to integrate them into your websites. I learned a lot about everything it takes to complete a project with this many features. I learned about form validation, Object Relation Mappers, Package structure, how to be efficient with the command line,...
        <br>
        <br>
        During the development of this webapp in the Summer of 2019, I worked at a Summer camp at the University of Texas at Austin and helped teach kids learn computer science.
        I would often code my website during my off period during camp and some of the kids became extremely interested
        in the idea and were set on my naming the webapp "Yelpagram". There was a group of five boys that became very
        interested in the website and even invested in the webapp. We completed a contract where they received 1% each
        in exchange for a penny. In this contract, I agreed that though I would not change the website name to
        "Yelpagram", that I would add any drawings or any documents that they created to the website. So the pictures
        you see below are all the work of students that are very enthusiastic about this webapp and about <a
            href="{{url_for('home')}}"> Feels<span class="orange-brand">Tasty</span>Man.</a>
        <br><br>
    </p>
        <img src="https://i.ibb.co/NV4qqgQ/7zHTK03h.jpg" alt="7zHTK03h" class="img-thumbnail center about-img">
        <br><br>
    <p>
        "The MSALA Group" is not a real investment group but the word "MSALA" is an acronym of the first initial of each of the five students that worked to create artwork for this website in the hopes that one day it would be called "Yelpagram".
        <br><br>
        Marfa food truck everyday carry typewriter pinterest 8-bit mixtape master cleanse schlitz vexillologist. Bespoke
        fingerstache gochujang, prism marfa flexitarian polaroid yuccie aesthetic messenger bag shaman. Locavore ramps master
        cleanse heirloom coloring book leggings sartorial fashion axe freegan. Intelligentsia farm-to-table poutine seitan
        gluten-free tofu beard offal hexagon taiyaki biodiesel narwhal before they sold out. Organic schlitz kombucha taxidermy,
        vinyl tattooed everyday carry cliche banjo cloud bread listicle forage subway tile locavore.
        <br><br>
        Vaporware helvetica gastropub, sartorial plaid cloud bread pok pok hoodie fingerstache whatever austin man bun pug
        copper mug. Pitchfork organic air plant paleo PBR&B whatever. Quinoa flannel kickstarter, offal stumptown leggings
        chillwave pickled shabby chic vaporware tumblr street art. Fam seitan marfa, four dollar toast four loko schlitz
        adaptogen cray. Williamsburg tumeric austin, scenester iceland chia vinyl heirloom chambray quinoa squid farm-to-table.
        Kinfolk tofu beard, banjo before they sold out thundercats kitsch migas iPhone adaptogen bushwick lomo listicle.
        <br><br>
        Lomo affogato kale chips coloring book live-edge lyft, bushwick glossier edison bulb polaroid meh farm-to-table
        pour-over cray. Street art bicycle rights banjo waistcoat scenester polaroid cold-pressed migas hot chicken try-hard
        cronut tumeric. Street art gluten-free sustainable next level, iceland tacos before they sold out. Keffiyeh beard
        aesthetic irony hot chicken vexillologist leggings seitan fingerstache. Schlitz hoodie hell of disrupt knausgaard.
        Brunch bushwick shoreditch, activated charcoal neutra disrupt helvetica occupy small batch ugh selvage
    </p>
    <p>
        Sponsored by <strong><a href="#">The MSALA Group</a> </strong>
    </p>
</div>
{% endblock content %}